
html {
    overscroll-behavior: none;
}

body {
    background-color: #878787;
}

.white-text {
    font-family: "Inter";
    color: lightgray;
    text-shadow: -0.5px 0.5px 4px #282828,
        -1px 1px 0px #282828,
        -1.5px 1.5px 0px #282828,
        -2px 2px 0px #282828;
}

.navbar {
    text-align: center;
}

.bkg-video {
    max-width: 100%;
    position: absolute;
    top:0;
    background-position: center;
    z-index: -1;
}